//- Use the presentation layout so we can keep this clean
extends layouts/presentation

//- Customize the title, meta description, and author using this block.
block append config
  -
    config.title = 'Rescuing Legacy UIs: How IBM Is Putting Performance First';
    config.description = 'FILL OUT DESCRIPTION!!!';
  -

//- Add your slides here. See templates/includes/_mixins.pug for information
//- on how `+slide` works.

block theme
  link(rel="stylesheet" href="css/theme/custom.css" id="theme")

block slides
  +slide
    <div><h3 style="margin: 0px">Rescuing</h3></div>
    <div><h4 style="margin: 0px; display: inline">Legacy</h4> <h3 style="margin: 0px; display: inline">UIs:</h3> </div>
    <div> <h4 style="margin: 0px; display: inline">How <h3 style="margin: 0px; display: inline">IBM</h3> <h4 style="margin: 0px; display: inline">Is Putting</h4>
    <h3 style="margin: 0px">Performance First</h3></div>

    <p style="font-weight: 200; margin-top: 30px; font-size: 24px;"> Rizchel Dayao </p>

    <p style="display: inline; font-weight: 200; font-size: 24px;"> @rizcheldayao </p> <p style="display: inline; opacity: 0.5; font-weight: 200; font-size: 24px;">||</p> <p style="display: inline; font-weight: 200; font-size: 24px;">rdayao@us.ibm.com</p>

  +slide
    <div style="display:flex; flex-direction: column">
    h3 Nice to meet you 👋🏼
    <div style="display:flex; justify-content:space-between">
    <div>
    <li style="font-weight: 200;"> Developer Advocate @IBM
    <li style="font-weight: 200;"> Previously a Front End Developer
    </div>
    <div><img style="border-radius: 50%"src="../img/rizchel.jpg" alt="Speaker picture" height="200"></div>
    </div>
    </div>

  +slide
    <div style="text-align: center">
    <div><iframe src="https://giphy.com/embed/3NtY188QaxDdC" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
    <h3 style="text-align: center; font-weight: 200; display: inline;"> 40% of people <h3 style="display: inline;">abandon</h3> a website that takes <h3 style="display: inline;">more than</h3> 3 seconds to load.</h3>
    </div>

  +slide
    h3 What we were facing on IBM Cloud:
    li Made up of microservices that consisted of Dojo, jQuery, and vanilla Javascript
    li Made API calls to a <i>mysterious</i> monolith layer that no one on our team had access to
    li Blocked requests until all the data was available for UI


  +slide
    <div style="text-align: center">
    <iframe src="https://giphy.com/embed/jquDWJfPUMCiI" width="480" height="428" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <h3 style="text-align: center; font-weight: 200;"> A page could take up to 30 seconds to load!</h3>
    </div>

  +slide
    <div style="text-align: center">
    <h3 style="display: inline"> We needed to <h3 style="display: inline; color: #000080">improve performance</h3><h3>...but where do we start?
    </div>

  +slide
    <h4 style="font-size: 10em; position: relative">01</h4>
    <h3 style="position: absolute; top: 50%; left: 20%; transform: translate(-50%, -50%);">Get rid of crap</h3>
