//- Use the presentation layout so we can keep this clean
extends layouts/presentation

//- Customize the title, meta description, and author using this block.
block append config
  -
    config.title = 'Why Kubernetes: Finding the Best Solution for You ';
    config.description = 'Deploy an application on Kubernetes';
  -

//- Add your slides here. See templates/includes/_mixins.pug for information
//- on how `+slide` works.

block theme
  link(rel="stylesheet" href="css/theme/white.css" id="theme")

block slides
  +slide
    <div style="display: flex; justify-content: flex-start; flex-direction: column">
    <div><h3 style="margin: 0px; display: flex; font-size: 1em"><span style="opacity: 0.5; padding-right: 10px; font-size: 1em">Why</span> Kubernetes: </h3></di>
    <div><h3 style="margin: 0px; display: flex; opacity: 0.5; font-size: 1em">Finding the</h3>
    <div><h3 style="margin: 0px; display: flex; font-size: 1em">best <span style="opacity: 0.5; padding-left: 10px; font-size: 1em">solution</span></h3></div>
    <div><h3 style="margin: 0px; display: flex;"> <span style="opacity: 0.5; padding-right: 10px; font-size: 1em">for</span> you</h3></div>
    <p style="display: flex; font-size: 24px; font-weight: 200"> Rizchel Dayao
    <p style="display: flex; font-size: 24px; font-weight: 200">@rizcheldayao || rdayao@us.ibm.com
    </div>

  +slide
    <div style="display:flex; flex-direction: column; align-items: flex-start">
    h3 Nice to meet you 👋🏼
    <div style="display:flex; justify-content:space-between">
    <div style="padding-top: 5%; font-weight: 200; text-align: left">
    li Graduated from ASU in Computer Science
    li Developer Advocate @IBM
    li Previously Front End Developer
    li Harry Potter fanatic ⚡️
    </div>
    <div><img style="border-radius: 50%"src="https://user-images.githubusercontent.com/18426780/36912901-71fc797e-1e05-11e8-8e83-9dd223120f2b.jpg" alt="Speaker picture" height="200"></div>
    </div>
    </div>

    <aside class="notes">
      p Talk about school, background
    </aside>

  +slide
    <div style="text-align: center">
      h3 Thank you!
      <div><img style="border-radius: 50%" src="https://user-images.githubusercontent.com/18426780/36912901-71fc797e-1e05-11e8-8e83-9dd223120f2b.jpg" alt="Speaker picture" height="200"></div>
      h3 Rizchel Dayao
      <div style="display: flex">
        <div style="display: flex; justify-content: center; margin-right: 1rem; margin-left: 6rem">
          <img style="border: none; margin: 0; box-shadow: none; background: transparent;%"  src='https://user-images.githubusercontent.com/18426780/36912894-711fcfb0-1e05-11e8-9a75-82940b50c0e6.png' />
          <p>@rizcheldayao</p>
        </div>
        <div style="display: flex; justify-content: center;">
          <img style="border: none; margin: 0; box-shadow: none; background: transparent; padding: 1rem" src='https://user-images.githubusercontent.com/18426780/36912895-7135222a-1e05-11e8-8901-eb80f7deb855.png' />
          <p>rdayao@us.ibm.com</p>
        </div>
      </div>
    </div>


  +slide
    <div style="text-align: left">
    h3 Resources
    <p style="font-size: 20px; margin: 0"> 1. GitHub</p>
    <p style="font-size: 20px; color: navy">(https://github.com/)</p>
    <p style="font-size: 20px; margin: 0"> 2. Beginner Repo</p>
    <p style="font-size: 20px; color: navy">(https://github.com/MunGell/awesome-for-beginners)</p>
    <p style="font-size: 20px;"> 3. Up for Grabs </p>
    <p style="font-size: 20px; color: navy">(http://up-for-grabs.net/#/)</p>
    <p style="font-size: 20px;"> 4. Issue Hub
    <p style="font-size: 20px; color: navy">(http://issuehub.io/)
    <p style="font-size: 20px;"> 5. Carbon Components
    <p style="font-size: 20px; color: navy">(http://carbondesignsystem.com/)</p>
    <p style="font-size: 20px;"> 6. Overcoming contribution fears
    <p style="font-size: 20px; color: navy">(https://medium.freecodecamp.org/how-to-get-over-your-fear-of-contributing-to-open-source-6160e4cdf0d3)</p>



