//- Use the presentation layout so we can keep this clean
extends layouts/presentation

//- Customize the title, meta description, and author using this block.
block append config
  -
    config.title = 'Why Kubernetes: Finding the Best Solution for You ';
    config.description = 'Deploy an application on Kubernetes';
  -

//- Add your slides here. See templates/includes/_mixins.pug for information
//- on how `+slide` works.

block theme
  link(rel="stylesheet" href="css/theme/white.css" id="theme")

block slides
  +slide
    <div style="display: flex; justify-content: flex-start; flex-direction: column">
    <div><h3 style="margin: 0px; display: flex; font-size: 1em"><span style="opacity: 0.5; padding-right: 10px; font-size: 1em">Why</span> Kubernetes: </h3></di>
    <div><h3 style="margin: 0px; display: flex; opacity: 0.5; font-size: 1em">Finding the</h3>
    <div><h3 style="margin: 0px; display: flex; font-size: 1em">best <span style="opacity: 0.5; padding-left: 10px; font-size: 1em">solution</span></h3></div>
    <div><h3 style="margin: 0px; display: flex;  font-size: 1em"> <span style="opacity: 0.5; padding-right: 10px;">for</span> you</h3></div>
    <p style="display: flex; font-size: 24px; font-weight: 200"> Rizchel Dayao
    <p style="display: flex; font-size: 24px; font-weight: 200">@rizcheldayao || rdayao@us.ibm.com
    </div>

  +slide
    <div style="display:flex; flex-direction: column; align-items: flex-start">
    h3 Nice to meet you 👋🏼
    <div style="display:flex; justify-content:space-between">
    <div style="padding-top: 5%; font-weight: 200; text-align: left">
    li Graduated from ASU in Computer Science
    li Developer Advocate @IBM
    li Previously Front End Developer
    li Harry Potter fanatic ⚡️
    </div>
    <div><img style="border-radius: 50%"src="https://user-images.githubusercontent.com/18426780/36912901-71fc797e-1e05-11e8-8e83-9dd223120f2b.jpg" alt="Speaker picture" height="200"></div>
    </div>
    </div>

    <aside class="notes">
      p Talk about school, background
    </aside>

  +slide
    <img style="border:none; width: 700px; height: 700px; margin: 0" src="../img/lifecycle.png" alt="Software Lifecycle" height="500">

  +slide
    <img style="border:none;" src="../img/gatsby.jpg" alt="Gatsby meme" height="500">

  +slide
    <img style="border:none;" src="../img/not-my-problem.jpeg" alt="Not problem meme" height="500">

  +slide
    <h4> I switched teams... <span class="fragment" data-fragment-index="1">and I wanted to  <span style="color: navy">learn</span> how the  <span style="color: navy">deployment</span> process worked 🚀</span></h4>

  +slide
    <iframe src="https://giphy.com/embed/VGG8UY1nEl66Y" width="480" height="392" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

  +slide
    <h4> I started researching all the differents ways to deploy an app... <span class="fragment" data-fragment-index="1">But I was <span style="color: orange">overwhelmed</span> with all of the deployment choices 😩</span></h4>

  +slide
    <img style="border:none; height: 600px" src="../img/overwhelmed.png" alt="Emoji thinking" height="500">

  +slide
    h3 Ultimately, I decided to look into <span style="color: navy">Kubernetes</span>

  +slide
    <div style="text-align: left">
    h3 Reasons:
    li.fragment Learn about containers and Docker
    li.fragment Community support & documentation
    li.fragment Automation (self healing, rollouts/rollbacks)
    li.fragment Scalability

  +slide
    <div style="text-align: left">
    p What is Kubernetes?
    p Kubernetes is an open-source system for automating deployment, scaling, and management of containerized applications.
    <p style="font-size: 20px">  - https://kubernetes.io/

  +slide
    h3 First, let's look into  <span style="color: navy">containers</span>...

  +slide
    <div style="text-align: left">
    h3 What are containers?
    li.fragment Made up of container images
    li.fragment Consists of an executable package of an application (libraries, dependencies, etc)
    li.fragment Virtualize at the operating system level, with multiple containers running atop the OS kernel directly

  +slide
    <img style="border:none;" src="../img/containers.png" alt="Container architecture" height="500">
    <p style="color: #000; font-weight: 200"> https://cloud.google.com/containers/

  +slide
    <div style="text-align: left">
    h3 Benefits:
    li.fragment Lightweight & performant
    li.fragment Platform independent
    li.fragment Isolation & resource sharing
    li.fragment Ideal for microsservice architectures

  +slide
    h3 How do we  <span style="color: navy">package</span> our  <span style="color: navy">application</span> to a  <span style="color: navy">container</span>?

  +slide
    <div style="text-align: left">
    h3 That's where Docker comes into play...
    <p class="fragment" data-fragment-index="1"> Docker is an open platform for developers and sysadmins to build, ship, and run distributed applications, whether on laptops, data center VMs, or the cloud.
    <p class="fragment" data-fragment-index="1" style="font-size: 20px"> - https://www.docker.com/

  +slide
    h4 I'll be showing you how to  <span style="color: navy">containerize</span> a  <span style="color: navy">React</span> application...

  +slide
    <div style="text-align: left">
    h3 Repo:
    li.fragment https://github.com/IBM/deploy-react-kubernetes
    li.fragment Foundation is on Node.js
    li.fragment Uses the OMDb API
    li.fragment One application

  +slide
    <div style="text-align: left">
    <img style="border:none;" src="https://camo.githubusercontent.com/69187f55f40866c69d68be745a74abe9f707f3f0/68747470733a2f2f6d656469612e6769746875622e69626d2e636f6d2f757365722f313635302f66696c65732f62306339383864632d333161612d313165382d383637622d393535386435363130636437" alt="Container architecture" height="500"/>

  +slide
    <div style="display: flex;">
    <h4 style="font-size: 10em; position: relative; opacity: 0.5">01</h4>
    <h2 style="position: absolute; top: 50%; left: 75%; transform: translate(-50%, -50%);">Create <span style="color: navy">Dockerfile</span></h2>
    </div>

  +slide
    <div style="text-align: left">
    h3 Dockerfile:
    li.fragment Used by Docker to build an image
    li.fragment Document that contains the commands to build an image
    li.fragment Examples: base image, exposed port, etc.

  +slide
    <section data-background-image="./img/Dockerfile.png" data-background-size="contain" data-background-position="left">
    </section>

  +slide
    <div style="display: flex;">
    <h4 style="font-size: 10em; position: relative; opacity: 0.5">02</h4>
    <h2 style="position: absolute; top: 50%; left: 75%; transform: translate(-50%, -50%);"> <span style="color: navy">Build</span> Docker image</h2>
    </div>

  +slide
    <section data-background-image="./img/build.png" data-background-size="contain" data-background-position="left">
    </section>

  +slide
    <div style="display: flex;">
    <h4 style="font-size: 10em; position: relative; opacity: 0.5">02</h4>
    <h2 style="position: absolute; top: 50%; left: 75%; transform: translate(-50%, -50%);"><span style="color: navy">Run</span> image</h2>
    </div>

  +slide
    <section data-background-image="./img/run-docker.png" data-background-size="contain" data-background-position="left">
    </section>

  +slide
    <div style="display: flex;">
    <h4 style="font-size: 10em; position: relative; opacity: 0.5">03</h4>
    <h2 style="position: absolute; top: 50%; left: 75%; transform: translate(-50%, -50%);"><span style="color: navy">Access</span> it locally</h2>
    </div>

  +slide
    <section data-background-image="./img/local.png">
    </section>

  +slide
    h3 Now let's deploy our containerized application

  +slide
    h3 We'll be using IBM Cloud for the deployment process

  +slide
    <div style="text-align: left">
    h3 Some prerequisites needed:
    li.fragment IBM Cloud Account
    li.fragment Install IBM Cloud CLI
    li.fragment Install Container Registry plugin
    li.fragment Create Kubernetes cluster

  +slide
    p Create Kubernetes cluster with images

  +slide
    p 1. Build image in IBM Cloud Container Registry Service

  +slide
    p 2. Run deployment

  +slide
    p 3. Expose deployment

  +slide
    p 4. Access the application

  +slide
    p Pros and Cons of Kubernetes

  +slide
   p when should you use kubernetes

  +slide
   p common pitfalls

  +slide
   h3 Next steps:
   li.fragment Integrate into a CI tool like Travis
   li.fragment Multiple containers
   li.fragment Scalability testing, etc

  +slide
    <div style="text-align: center">
      h3 Thank you!
      <div><img style="border-radius: 50%" src="https://user-images.githubusercontent.com/18426780/36912901-71fc797e-1e05-11e8-8e83-9dd223120f2b.jpg" alt="Speaker picture" height="200"></div>
      h3 Rizchel Dayao
      <div style="display: flex">
        <div style="display: flex; justify-content: center; margin-right: 1rem; margin-left: 6rem">
          <img style="border: none; margin: 0; box-shadow: none; background: transparent;%"  src='https://user-images.githubusercontent.com/18426780/36912894-711fcfb0-1e05-11e8-9a75-82940b50c0e6.png' />
          <p>@rizcheldayao</p>
        </div>
        <div style="display: flex; justify-content: center;">
          <img style="border: none; margin: 0; box-shadow: none; background: transparent; padding: 1rem" src='https://user-images.githubusercontent.com/18426780/36912895-7135222a-1e05-11e8-8901-eb80f7deb855.png' />
          <p>rdayao@us.ibm.com</p>
        </div>
      </div>
    </div>


  +slide
    <div style="text-align: left">
    h3 Resources
    <p style="font-size: 20px; margin: 0"> 1. GitHub</p>
    <p style="font-size: 20px; color: navy">(https://github.com/)</p>
    <p style="font-size: 20px; margin: 0"> 2. Beginner Repo</p>
    <p style="font-size: 20px; color: navy">(https://github.com/MunGell/awesome-for-beginners)</p>
    <p style="font-size: 20px;"> 3. Up for Grabs </p>
    <p style="font-size: 20px; color: navy">(http://up-for-grabs.net/#/)</p>
    <p style="font-size: 20px;"> 4. Issue Hub
    <p style="font-size: 20px; color: navy">(http://issuehub.io/)
    <p style="font-size: 20px;"> 5. Carbon Components
    <p style="font-size: 20px; color: navy">(http://carbondesignsystem.com/)</p>
    <p style="font-size: 20px;"> 6. Overcoming contribution fears
    <p style="font-size: 20px; color: navy">(https://medium.freecodecamp.org/how-to-get-over-your-fear-of-contributing-to-open-source-6160e4cdf0d3)</p>



