//- Use the presentation layout so we can keep this clean
extends layouts/presentation

//- Customize the title, meta description, and author using this block.
block append config
  -
    config.title = 'How to make your first open source contribution in under 15 minutes';
    config.description = 'Presentation about open source and how to contribute';
  -

//- Add your slides here. See templates/includes/_mixins.pug for information
//- on how `+slide` works.

block theme
  link(rel="stylesheet" href="css/theme/white.css" id="theme")

block slides
  +slide
    h3 How to make your first open source contribution in under 15 minutes
    <p style="font-weight: 200; margin-top: 30px; font-size: 24px;"> Rizchel Dayao </p>
    <p style="display: inline; font-weight: 200; font-size: 24px;"> @rizcheldayao </p> <p style="display: inline; opacity: 0.5; font-weight: 200; font-size: 24px;">||</p> <p style="display: inline; font-weight: 200; font-size: 24px;">rdayao@us.ibm.com</p>

  +slide
    <div style="display:flex; flex-direction: column">
    h3 Nice to meet you 👋🏼
    <div style="display:flex; justify-content:space-between">
    <div style="padding-top: 5%; font-weight: 200;">
    li Graduated from ASU in Computer Science
    li Developer Advocate @IBM
    li Previously Front End Developer
    li Harry Potter fanatic ⚡️
    </div>
    <div><img style="border-radius: 50%"src="https://user-images.githubusercontent.com/18426780/36912901-71fc797e-1e05-11e8-8e83-9dd223120f2b.jpg" alt="Speaker picture" height="200"></div>
    </div>
    </div>

    <aside class="notes">
      p Talk about school, background
    </aside>

  +slide
    h4 Imagine a world where all technoly was copyrighted and required licenses to use...

  +slide
    h3 How would it affect collaboration and innovation today?

  +slide
    h3 It could cause...
    ul
    li.fragment Proporietary software (big business) would rule the industry
    li.fragment It could get really expensive
    li.fragment Lack of community and collaboration
    li.fragment Limitation of progression personally and professionally

  +slide
    p Gif here
    h4 That would really suck!

  +slide
    h3 But don't take my word for it...

  +slide
    h3 IBM Cloud and Carbon Components

  +slide
    h3 IBM Cloud microservice
    p One person who knew all of the code
    p No peer reviews to ensure security and accountability
    p Quality of code was bad

  +slide
    p one right to rule them all

  +slide
    h3 Carbon Components
    p Contributions from anyone
    p Peer reviews (pull requests)
    p Testing
    p Good quality of code
    p Free for anyone to use

  +slide
    p gif opposite of lotr

  +slide
    h3 IBM Cloud code has improved because of demonstration of carbon components...

  +slide
    p Meme (lion king and dark place) here
    h4 Thank goodness we don't live that world 🙏🏼

  +slide
    p What is open source?
    p denoting software for which the original source code is made freely available and may be redistributed and modified.

  +slide
    h3 This means that anyone...
    ul
    li.fragment Can take the source code
    li.fragment Can modify it
    li.fragment Can distribute their own versions

  +slide
    h3 Other benefits it provides
    ul
    li.fragment Cost benefits (flexibility and freedom but it requires maintenance and support)
    li.fragment Community support (peer review ensure security and accountability)
    li.fragment Quality of code
    li.fragment Transparency & reliability

  +slide
    h3 There's open source technology everywhere
    ul
    li.fragment Operating systems
    li.fragment Language libraries
    li.fragment Artificial intelligence
    li.fragment Etc.

  +slide
   h3 List open source examples

  +slide
   h3 How do you become part of this community and contribute to cool projects?

  +slide
    h3 I will specifically be showing how you can contribute using Github.

  +slide
    h3 What is Github?
    ul
    li.fragment source version control
    li.fragment contains lots of repos
    li.fragment place where you can pull down a repo and contribute back

  +slide
    h3 Your first contribution
    ul
    li.fragment find something easy (docs, bug, etc)
    li.fragment



