//- Use the presentation layout so we can keep this clean
extends layouts/presentation

//- Customize the title, meta description, and author using this block.
block append config
  -
    config.title = 'How to make your first open source contribution in under 15 minutes';
    config.description = 'Presentation about open source and how to contribute';
  -

//- Add your slides here. See templates/includes/_mixins.pug for information
//- on how `+slide` works.

block theme
  link(rel="stylesheet" href="css/theme/white.css" id="theme")

block slides
  +slide
    <div style="display: flex; justify-content: flex-start; flex-direction: column">
    <div><h3 style="margin: 0px; opacity: 0.5; display: flex; font-size: 1em">How to make </h3></di>
    <div><h3 style="margin: 0px; display: flex;  font-size: 1.3em"><span style="opacity: 0.5; padding-right: 10px; font-size: 1em"> your </span> first</h3>
    <div><h3 style="margin: 0px; display: flex; opacity: 0.5; font-size: 1em">open source</h3></div>
    <div><h3 style="margin: 0px; display: flex;">contribution <span style="opacity: 0.5; padding-left: 10px; font-size: 1em">in</span></h3></div>
    <div><h3 style="margin: 0px; display: flex">under <span style="opacity: 0.5; padding-left: 10px; font-size: 1em">15 minutes</span></h3></div>
    <p style="display: flex; font-size: 24px; font-weight: 200"> Rizchel Dayao
    <p style="display: flex; font-size: 24px; font-weight: 200">@rizcheldayao || rdayao@us.ibm.com
    </div>

  +slide
    <div style="display:flex; flex-direction: column; align-items: flex-start">
    h3 Nice to meet you 👋🏼
    <div style="display:flex; justify-content:space-between">
    <div style="padding-top: 5%; font-weight: 200; text-align: left">
    li Graduated from ASU in Computer Science
    li Developer Advocate @IBM
    li Previously Front End Developer
    li Harry Potter fanatic ⚡️
    </div>
    <div><img style="border-radius: 50%"src="https://user-images.githubusercontent.com/18426780/36912901-71fc797e-1e05-11e8-8e83-9dd223120f2b.jpg" alt="Speaker picture" height="200"></div>
    </div>
    </div>

    <aside class="notes">
      p Talk about school, background
    </aside>

  +slide
    <div style="text-align: left">
    p What is open source?
    p denoting software for which the original source code is made freely available and may be redistributed and modified.
    <p style="font-size: 20px"> - Dictionary.com

  +slide
    <div style="text-align: left">
    h3 That means that anyone...
    ul
    li.fragment Can take the source code
    li.fragment Can modify it
    li.fragment Can distribute their own versions

  +slide
    <div style="text-align: left">
    h4 There's open source technology everywhere
    ul
    li.fragment Operating systems
    li.fragment Language libraries
    li.fragment IoT
    li.fragment AI and many more...
    </div>

    <aside class="notes">
      p Linux, Mozilla Firefox, MongoDB, Node.js
    </aside>

  +slide
    h4 Imagine a world where all technology was <span style="color: darkviolet">copyrighted</span> and <span style="color: darkviolet">required licenses</span> to use...

  +slide
    h4 How would it affect  <span style="color: navy">collaboration</span> and  <span style="color: navy">innovation</span> today?

  +slide
    <div style="text-align: left">
    p <span style="color: navy">78 percent</span> of respondents said their companies run part or all of its operations on OSS and <span style="color: navy">66 percent</span> said their company creates software for customers built on open source.
    <p style="font-size: 20px"> - 2015 survey conducted by Black Duck Software and North Bridge</p>

  +slide
    <div style="text-align: left">
    h3 Lack of open source could cause...
    ul
    li.fragment Really <i>expensive</i> software
    li.fragment Control of big business
    li.fragment Reinvention of the wheel
    li.fragment Lack of community and collaboration
    li.fragment Limitation of technological development

  +slide
    <iframe src="https://giphy.com/embed/4cuyucPeVWbNS" width="480" height="344" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

  +slide
    h4 Let's look at an enterprise vs open source project...

  +slide
    h4 <span style="color: navy">IBM Cloud</span> and <span style="color: navy">Carbon Components</span>

  +slide
    <div style="text-align: left">
    h3 What is IBM Cloud?
    li.fragment Enterprise software
    li.fragment Not open source
    li.fragment Broken down into microservices

  +slide
    <section data-background-image="./img/ibm-cloud.png">
    </section>

  +slide
    <div style="text-align: left">
    h3 What is Carbon components?
    li.fragment Component library and design system
    li.fragment Vanilla JS, React components and style guidelines
    li.fragment All open source

  +slide
    <section data-background-image="./img/carbon-components.png">
    </section>

  +slide
    h3 How did they differ?

  +slide
    <div style="text-align: left">
    h3 IBM Cloud:
    ul
    li.fragment One person controlled all the code
    li.fragment No peer reviews to ensure security and accountability
    li.fragment Quality of code was bad

  +slide
    <a href="https://imgflip.com/i/27r3fg"><img src="https://i.imgflip.com/27r3fg.jpg" title="made at imgflip.com"/></a>

  +slide
   <div style="text-align: left">
    h3 Carbon Components
    ul
    li.fragment Contributions from anyone
    li.fragment Peer reviews on all contributions
    li.fragment Testing
    li.fragment Good quality of code
    li.fragment Open for anyone to use

  +slide
    <a href="https://imgflip.com/i/27r3r3"><img src="https://i.imgflip.com/27r3r3.jpg" title="made at imgflip.com"/></a>

  +slide
    h4 IBM Cloud code has  <span style="color: navy">improved</span> because of the  <span style="color: navy">influence</span> of Carbon Components 💯

  +slide
    <div style="text-align: left">
    h3 It now has...
    li.fragment A peer review system
    li.fragment At least 85% testing coverage
    li.fragment Pair programming
    li.fragment Knowledge of the system among the whole team

  +slide
    <div style="text-align: left">
    h3 Benefits OS provides:
    ul
    li.fragment Cost benefits
    li.fragment Community support
    li.fragment Quality of code
    li.fragment Transparency & reliability

    <aside class="notes">
      p offers flexibility and freedom
      p ensures security and accountability
    </aside>

  +slide
    h4 How do you become part of this <span style="color: navy">community</span> and  <span style="color: navy">contribute</span> to cool projects?

  +slide
    <h4 style="color: black"> I will specifically be showing how you can contribute using <span style="color: navy">GitHub</span></h4>
    <img style="border:none" src="./img/Octocat.jpg" alt="Github Octocat" height="500">

  +slide
    <div style="text-align: left">
    h3 What is GitHub?
    ul
    li.fragment Code hosting platform for version control and collaboration
    li.fragment Uses Git
    li.fragment Users can pull down a repo and contribute back


  +slide
    <section data-background-image="./img/github.png">
    </section>

  +slide
    <div style="text-align: left">
    h3 Your first contribution
    ul
    li.fragment Find something easy (docs, small bugs)
    li.fragment Look for specific labels: first timers only, good first issue, low hanging fruit, beginner, easy
    li.fragment Work on something you're passionate about
    li.fragment Things to consider: language, project, size

  +slide
    <section data-background-image="./img/github-labels.png">
    </section>

  +slide
    h4 Now you've found a bug, how do you  <span style="color: navy">contribute</span> the  <span style="color: navy">fix</span> back?

  +slide
    <div style="display: flex;">
    <h4 style="font-size: 10em; position: relative; opacity: 0.5">01</h4>
    <h2 style="position: absolute; top: 50%; left: 75%; transform: translate(-50%, -50%);"><span style="color: navy">Fork</span> the repo</h2>
    </div>

  +slide
    <section data-background-image="./img/github-fork.png">
    </section>

  +slide
    <div style="display: flex;">
    <h4 style="font-size: 10em; position: relative; opacity: 0.5">02</h4>
    <h2 style="position: absolute; top: 50%; left: 75%; transform: translate(-50%, -50%);"><span style="color: navy">Clone</span> it</h2>
    </div>

  +slide
    <section data-background-image="./img/github-clone.png">
    </section>

  +slide
    <div style="display: flex;">
    <h4 style="font-size: 10em; position: relative; opacity: 0.5">03</h4>
    <h2 style="position: absolute; top: 50%; left: 75%; transform: translate(-50%, -50%);"><span style="color: navy">Run</span> the project</h2>
    </div>

  +slide
    <section data-background-image="./img/npm-install.png">
    </section>

  +slide
    <section data-background-image="./img/project-running.png">
    </section>

  +slide
    <div style="display: flex;">
    <h4 style="font-size: 10em; position: relative; opacity: 0.5">04</h4>
    <h2 style="position: absolute; top: 50%; left: 75%; transform: translate(-50%, -50%);">Check out <span style="color: navy">branch</span></h2>
    </div>

  +slide
    <section data-background-image="./img/checkout-branch.png">
    </section>

  +slide
    <div style="display: flex;">
    <h4 style="font-size: 10em; position: relative; opacity: 0.5">05</h4>
    <h2 style="position: absolute; top: 50%; left: 75%; transform: translate(-50%, -50%);"><span style="color: navy">Fix</span> the issue</h2>
    </div>

  +slide
    <div style="display: flex;">
    <h4 style="font-size: 10em; position: relative; opacity: 0.5">06</h4>
    <h2 style="position: absolute; top: 50%; left: 75%; transform: translate(-50%, -50%);"><span style="color: navy">Commit</span> & <span style="color: navy">push</span> fix</h2>
    </div>

  +slide
    <section data-background-image="./img/commit-push.png">
    </section>

  +slide
    <div style="display: flex;">
    <h4 style="font-size: 10em; position: relative; opacity: 0.5">07</h4>
    <h2 style="position: absolute; top: 50%; left: 75%; transform: translate(-50%, -50%);">Create <span style="color: navy">pull request</span></h2>
    </div>

  +slide
    <section data-background-image="./img/pr-step1.png">
    </section>

  +slide
    <section data-background-image="./img/pr-create.png">
    </section>

  +slide
    <div style="display: flex;">
    <h4 style="font-size: 10em; position: relative; opacity: 0.5">08</h4>
    <h2 style="position: absolute; top: 50%; left: 75%; transform: translate(-50%, -50%);">Let <span style="color: navy">tests</span> run</h2>
    </div>

  +slide
    <section data-background-image="./img/pr-tests.png">
    </section>

  +slide
    <div style="display: flex;">
    <h4 style="font-size: 10em; position: relative; opacity: 0.5">09</h4>
    <h2 style="position: absolute; top: 50%; left: 75%; transform: translate(-50%, -50%);">PR is <span style="color: navy">reviewed</span></h2>
    </div>

  +slide
    <section data-background-image="./img/pr-review1.png">
    </section>

  +slide
    <section data-background-image="./img/pr-review2.png">
    </section>

  +slide
    <div style="display: flex;">
    <h4 style="font-size: 10em; position: relative; opacity: 0.5">10</h4>
    <h2 style="position: absolute; top: 50%; left: 75%; transform: translate(-50%, -50%);">Make <span style="color: navy">changes</span></h2>
    </div>

  +slide
    <div style="display: flex;">
    <h4 style="font-size: 10em; position: relative; opacity: 0.5">11</h4>
    <h2 style="position: absolute; top: 50%; left: 75%; transform: translate(-50%, -50%);"><span style="color: navy">Merge</span> PR to master</h2>
    </div>

  +slide
    <section data-background-image="./img/merge.png">
    </section>

  +slide
    h3 Tada! <span style="color: navy">Celebrate</span> you've made your first contribution! 🎉

  +slide
   <div style="text-align: left">
   h3 Contributor common pitfalls:
   ul
   li.fragment Coding standards
   li.fragment Git can be tricky
   li.fragment Nothing is perfect
   li.fragment Document and comment your code

  +slide
   <div style="text-align: left">
   h3 How to deal with getting discouraged:
   ul
   li.fragment Pair program
   li.fragment Peer review
   li.fragment You don't need to code to contribute back
   li.fragment Improve your skills by contributing

  +slide
    <div style="text-align: left">
    h3 Recap:
    <p style="margin: 0"> 1. Search for specific labels
    <p style="margin: 0"> 2. Find easy fixes
    <p style="margin: 0"> 3. Push up your changes in a PR
    <p style="margin: 0"> 4. Contribute

  +slide
    <div style="text-align: center">
      h3 Thank you!
      <div><img style="border-radius: 50%" src="https://user-images.githubusercontent.com/18426780/36912901-71fc797e-1e05-11e8-8e83-9dd223120f2b.jpg" alt="Speaker picture" height="200"></div>
      h3 Rizchel Dayao
      p Follow me on Twitter: @rizcheldayao
      p Slides available: https://goo.gl/BZ45xB
    </div>

  +slide
    <div style="text-align: left">
    h3 IBM Research Center
    ul
    li Center for Applied Innovation with USC
    li Learn more about computing technologies and data analytics

  +slide
    <div style="text-align: left">
    h3 Resources
    <p style="font-size: 20px; margin: 0"> 1. GitHub</p>
    <p style="font-size: 20px; color: navy">(https://github.com/)</p>
    <p style="font-size: 20px; margin: 0"> 2. Beginner Repo</p>
    <p style="font-size: 20px; color: navy">(https://github.com/MunGell/awesome-for-beginners)</p>
    <p style="font-size: 20px;"> 3. Up for Grabs </p>
    <p style="font-size: 20px; color: navy">(http://up-for-grabs.net/#/)</p>
    <p style="font-size: 20px;"> 4. Issue Hub
    <p style="font-size: 20px; color: navy">(http://issuehub.io/)
    <p style="font-size: 20px;"> 5. Carbon Components
    <p style="font-size: 20px; color: navy">(http://carbondesignsystem.com/)</p>
    <p style="font-size: 20px;"> 6. Overcoming contribution fears
    <p style="font-size: 20px; color: navy">(https://medium.freecodecamp.org/how-to-get-over-your-fear-of-contributing-to-open-source-6160e4cdf0d3)</p>



